a {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;

    &.default {
        color: initial;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}