h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: $font-family-poppins;
  padding-bottom: $grid-space-3;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 36px;
}

h3 {
  font-size: 1.25em;
  line-height: 27px;
}
