input {
  height: 40px;
  width: 250px;
  border: 1px solid #7A8085;
  border-radius: $border-radius;
  background-color: $input-bg-color;
  text-indent: 10px;
  margin: $grid-space-2 0;

  &.thin {
    height: 25px;
  }

  &:disabled {
    color: $disabled-text-color;
  }

  &:focus {
    outline: none;
    border: 2px solid $primary;
  }
}